

.App {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .contact-wrapper {
    flex-direction: row;
  }
  .contact-wrapper > div {
    flex: 1;
  }
}