* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 600px) {
  .contact-wrapper {
    flex-direction: row;
  }
  .contact-wrapper > div {
    flex: 1;
  }
}