  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    overflow-x: hidden;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
}

@media only screen and (min-width: 600px) {
  .contact-wrapper {
    flex-direction: row;
  }
  .contact-wrapper > div {
    flex: 1;
  }
}